body{
    background:#1b1b1b;
    color:white;
    font-family:Arial;
    text-align:center;
}

video{
    width:80%;
    max-width:900px;
    margin-top:20px;
}

select{
    padding:10px;
    margin:15px;
}
